BASE_URL=http://localhost:8080
LOG_DIR=logs
LOG_MAX_AGE_DAYS=365

HTTP_HOST=0.0.0.0
HTTP_PORT=8080

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=hst
POSTGRES_PASSWORD=hst
POSTGRES_DB=hst
POSTGRES_SSL_MODE=disable
POSTGRES_MAX_CONN=20
POSTGRES_MIN_CONN=2

REDIS_URL=localhost:6379
REDIS_PASSWORD=

NATS_HOST=localhost
NATS_PORT=4222
NATS_NAME=hstserver
REDIS_DB=0
REDIS_POOL_SIZE=
